@charset "UTF-8";
/* line 5, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #494949;
}

/* line 17, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
html {
  width: 100%;
  min-width: 1000px;
  background-color: #489bd2;
  background-image: -webkit-linear-gradient(top, #489bd2, #2ccdea, #8ef0fb);
  background-image: linear-gradient(to bottom, #489bd2, #2ccdea, #8ef0fb);
}

/* line 24, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
body {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background-image: url("https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/back_cloud.png");
}

/* line 30, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.ind {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  display: flex;
  justify-content: center;
}
/* line 36, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.ind .wrapper {
  display: flex;
  justify-content: center;
  width: 1000px;
  min-width: 1000px;
  height: 100%;
}
/* line 42, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.ind .wrapper .blockContainer {
  width: 100px;
  margin-bottom: -20px;
  padding-top: 200px;
}

/* line 49, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
footer {
  min-width: 1000px;
  position: relative;
  z-index: 10;
}

/* line 56, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.base, .cube {
  width: 100px;
  height: 100px;
  z-index: 0;
}

/* line 61, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.cube div, .cube a {
  width: 90px;
  height: 90px;
  opacity: 0.9;
}

/* line 66, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.base {
  position: relative;
}

/* line 69, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.cube {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(45deg) rotateZ(0deg);
}

/* line 74, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.cube div, .cube a {
  border: 1px solid;
  position: absolute;
  padding: 5px;
  text-decoration: none;
}

/* line 80, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.s_front {
  background-image: url("https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/wood1.jpg");
  transform: translateZ(50px);
  z-index: 10;
}

/* line 85, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.s_back {
  background-image: url("https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/wood1.jpg");
  transform: translateZ(-50px);
}

/* line 89, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.s_right {
  background-image: url("https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/wood1.jpg");
  transform: rotateY(90deg) translateZ(50px);
}

/* line 93, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.s_left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/wood1.jpg");
  transform: rotateY(-90deg) translateZ(50px);
  font-size: 50px;
  color: orenge;
}

/* line 102, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.s_top {
  background-image: url("https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/wood1.jpg");
  transform: rotateX(90deg) translateZ(50px);
}

/* line 106, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.s_bottom {
  background: black;
  transform: rotateX(-90deg) translateZ(50px);
}

/* line 112, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.cloudContainer {
  display: flex;
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  width: 1000px;
  margin: auto;
  pointer-events: none;
  z-index: 10;
}
/* line 122, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.cloudContainer .left_cloud {
  position: relative;
  width: 100%;
  margin-left: -50%;
  animation: FloatVertical 6.0s ease-in-out infinite alternate;
  z-index: 99;
}
/* line 128, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.cloudContainer .left_cloud img {
  width: 100%;
}
/* line 132, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.cloudContainer .right_cloud {
  position: relative;
  width: 80%;
  margin-right: -50%;
  animation: FloatVertical 5.0s ease-in-out infinite alternate;
  z-index: 99;
}
/* line 138, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.cloudContainer .right_cloud img {
  width: 100%;
}

/* line 146, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.left_child {
  position: absolute;
  top: -50px;
  right: 25%;
  z-index: 11;
  width: 150px;
}
/* line 152, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.left_child img {
  width: 100%;
}
/* line 155, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.left_child .front_arm {
  width: 75px;
  position: absolute;
  top: 93px;
  left: 60px;
  z-index: 12;
  animation: rotate 1.0s ease-in-out infinite alternate;
  transform-origin: 10px 10px;
}
/* line 164, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.left_child .back_arm {
  width: 75px;
  position: absolute;
  top: 70px;
  left: 60px;
  z-index: -1;
  animation: rotate 1.0s ease-in-out infinite alternate;
  transform-origin: 20px 20px;
}
/* line 173, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.left_child .ore {
  width: 40px;
  position: absolute;
  top: 120px;
  left: 110px;
  animation: throw_left 2.0s ease-in-out 0.5s forwards,opacity 0.5s ease 2.4s forwards;
}

/* line 181, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.right_child {
  position: absolute;
  top: -70px;
  left: 30%;
  z-index: 11;
  width: 150px;
}
/* line 187, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.right_child img {
  width: 100%;
}
/* line 190, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.right_child .front_arm {
  width: 75px;
  position: absolute;
  top: 77px;
  right: 72px;
  z-index: 12;
  animation: rotate1 2s ease-in-out infinite alternate;
  transform-origin: 65px 10px;
}
/* line 199, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.right_child .back_arm {
  width: 75px;
  position: absolute;
  top: 70px;
  right: 80px;
  z-index: -1;
  animation: rotate2 2s ease-in-out infinite alternate;
  transform-origin: 65px 10px;
}
/* line 208, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.right_child .ore {
  width: 40px;
  position: absolute;
  top: 100px;
  left: -10px;
  animation: throw_right 2.0s ease-in-out 0.9s forwards,opacity 0.5s ease 2.6s forwards;
}

/* line 219, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fix-inf {
  position: absolute;
  top: -60px;
  left: -300px;
  z-index: 10;
  width: 320px;
  padding: 10px;
  background-image: url("https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/wood1.jpg");
  animation: FloatVertical 6.0s ease-in-out infinite alternate;
}
/* line 228, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fix-inf div {
  border-radius: 20px;
  padding: 10px;
}
/* line 232, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fix-inf div p {
  font-size: 1em;
}

/* line 237, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.stick {
  position: absolute;
  top: -70px;
  left: -140px;
  z-index: 9;
  width: 20px;
  height: 300px;
  background-image: url("https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/wood2.jpg");
  animation: FloatVertical 6.0s ease-in-out infinite alternate;
}

@keyframes FloatVertical {
  0% {
    transform: translate3d(0, 10px, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0, 10px, 0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-70deg);
  }
}
@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(70deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(80deg);
  }
}
@keyframes throw_left {
  0% {
    transform: translate(0px, 0px);
  }
  1% {
    transform: translate(2.007px, -19.833px);
  }
  2% {
    transform: translate(4.028px, -39.332px);
  }
  3% {
    transform: translate(6.063px, -58.497px);
  }
  4% {
    transform: translate(8.112px, -77.328px);
  }
  5% {
    transform: translate(10.175px, -95.825px);
  }
  6% {
    transform: translate(12.252px, -113.988px);
  }
  7% {
    transform: translate(14.343px, -131.817px);
  }
  8% {
    transform: translate(16.448px, -149.312px);
  }
  9% {
    transform: translate(18.567px, -166.473px);
  }
  10% {
    transform: translate(20.7px, -183.3px);
  }
  11% {
    transform: translate(22.847px, -199.793px);
  }
  12% {
    transform: translate(25.008px, -215.952px);
  }
  13% {
    transform: translate(27.183px, -231.777px);
  }
  14% {
    transform: translate(29.372px, -247.268px);
  }
  15% {
    transform: translate(31.575px, -262.425px);
  }
  16% {
    transform: translate(33.792px, -277.248px);
  }
  17% {
    transform: translate(36.023px, -291.737px);
  }
  18% {
    transform: translate(38.268px, -305.892px);
  }
  19% {
    transform: translate(40.527px, -319.713px);
  }
  20% {
    transform: translate(42.8px, -333.2px);
  }
  21% {
    transform: translate(45.087px, -346.353px);
  }
  22% {
    transform: translate(47.388px, -359.172px);
  }
  23% {
    transform: translate(49.703px, -371.657px);
  }
  24% {
    transform: translate(52.032px, -383.808px);
  }
  25% {
    transform: translate(54.375px, -395.625px);
  }
  26% {
    transform: translate(56.732px, -407.108px);
  }
  27% {
    transform: translate(59.103px, -418.257px);
  }
  28% {
    transform: translate(61.488px, -429.072px);
  }
  29% {
    transform: translate(63.887px, -439.553px);
  }
  30% {
    transform: translate(66.3px, -449.7px);
  }
  31% {
    transform: translate(68.727px, -459.513px);
  }
  32% {
    transform: translate(71.168px, -468.992px);
  }
  33% {
    transform: translate(73.623px, -478.137px);
  }
  34% {
    transform: translate(76.092px, -486.948px);
  }
  35% {
    transform: translate(78.575px, -495.425px);
  }
  36% {
    transform: translate(81.072px, -503.568px);
  }
  37% {
    transform: translate(83.583px, -511.377px);
  }
  38% {
    transform: translate(86.108px, -518.852px);
  }
  39% {
    transform: translate(88.647px, -525.993px);
  }
  40% {
    transform: translate(91.2px, -532.8px);
  }
  41% {
    transform: translate(93.767px, -539.273px);
  }
  42% {
    transform: translate(96.348px, -545.412px);
  }
  43% {
    transform: translate(98.943px, -551.217px);
  }
  44% {
    transform: translate(101.552px, -556.688px);
  }
  45% {
    transform: translate(104.175px, -561.825px);
  }
  46% {
    transform: translate(106.812px, -566.628px);
  }
  47% {
    transform: translate(109.463px, -571.097px);
  }
  48% {
    transform: translate(112.128px, -575.232px);
  }
  49% {
    transform: translate(114.807px, -579.033px);
  }
  50% {
    transform: translate(117.5px, -582.5px);
  }
  51% {
    transform: translate(120.207px, -585.633px);
  }
  52% {
    transform: translate(122.928px, -588.432px);
  }
  53% {
    transform: translate(125.663px, -590.897px);
  }
  54% {
    transform: translate(128.412px, -593.028px);
  }
  55% {
    transform: translate(131.175px, -594.825px);
  }
  56% {
    transform: translate(133.952px, -596.288px);
  }
  57% {
    transform: translate(136.743px, -597.417px);
  }
  58% {
    transform: translate(139.548px, -598.212px);
  }
  59% {
    transform: translate(142.367px, -598.673px);
  }
  60% {
    transform: translate(145.2px, -598.8px);
  }
  61% {
    transform: translate(148.047px, -598.593px);
  }
  62% {
    transform: translate(150.908px, -598.052px);
  }
  63% {
    transform: translate(153.783px, -597.177px);
  }
  64% {
    transform: translate(156.672px, -595.968px);
  }
  65% {
    transform: translate(159.575px, -594.425px);
  }
  66% {
    transform: translate(162.492px, -592.548px);
  }
  67% {
    transform: translate(165.423px, -590.337px);
  }
  68% {
    transform: translate(168.368px, -587.792px);
  }
  69% {
    transform: translate(171.327px, -584.913px);
  }
  70% {
    transform: translate(174.3px, -581.7px);
  }
  71% {
    transform: translate(177.287px, -578.153px);
  }
  72% {
    transform: translate(180.288px, -574.272px);
  }
  73% {
    transform: translate(183.303px, -570.057px);
  }
  74% {
    transform: translate(186.332px, -565.508px);
  }
  75% {
    transform: translate(189.375px, -560.625px);
  }
  76% {
    transform: translate(192.432px, -555.408px);
  }
  77% {
    transform: translate(195.503px, -549.857px);
  }
  78% {
    transform: translate(198.588px, -543.972px);
  }
  79% {
    transform: translate(201.687px, -537.753px);
  }
  80% {
    transform: translate(204.8px, -531.2px);
  }
  81% {
    transform: translate(207.927px, -524.313px);
  }
  82% {
    transform: translate(211.068px, -517.092px);
  }
  83% {
    transform: translate(214.223px, -509.537px);
  }
  84% {
    transform: translate(217.392px, -501.648px);
  }
  85% {
    transform: translate(220.575px, -493.425px);
  }
  86% {
    transform: translate(223.772px, -484.868px);
  }
  87% {
    transform: translate(226.983px, -475.977px);
  }
  88% {
    transform: translate(230.208px, -466.752px);
  }
  89% {
    transform: translate(233.447px, -457.193px);
  }
  90% {
    transform: translate(236.7px, -447.3px);
  }
  91% {
    transform: translate(239.967px, -437.073px);
  }
  92% {
    transform: translate(243.248px, -426.512px);
  }
  93% {
    transform: translate(246.543px, -415.617px);
  }
  94% {
    transform: translate(249.852px, -404.388px);
  }
  95% {
    transform: translate(253.175px, -392.825px);
  }
  96% {
    transform: translate(256.512px, -380.928px);
  }
  97% {
    transform: translate(259.863px, -368.697px);
  }
  98% {
    transform: translate(263.228px, -356.132px);
  }
  99% {
    transform: translate(266.607px, -343.233px);
  }
  100% {
    transform: translate(270px, -330px);
  }
}
@keyframes throw_right {
  0% {
    transform: translate(0px, 0px);
  }
  1% {
    transform: translate(-2.005px, -19.831px);
  }
  2% {
    transform: translate(-4.02px, -39.324px);
  }
  3% {
    transform: translate(-6.045px, -58.479px);
  }
  4% {
    transform: translate(-8.08px, -77.296px);
  }
  5% {
    transform: translate(-10.125px, -95.775px);
  }
  6% {
    transform: translate(-12.18px, -113.916px);
  }
  7% {
    transform: translate(-14.245px, -131.719px);
  }
  8% {
    transform: translate(-16.32px, -149.184px);
  }
  9% {
    transform: translate(-18.405px, -166.311px);
  }
  10% {
    transform: translate(-20.5px, -183.1px);
  }
  11% {
    transform: translate(-22.605px, -199.551px);
  }
  12% {
    transform: translate(-24.72px, -215.664px);
  }
  13% {
    transform: translate(-26.845px, -231.439px);
  }
  14% {
    transform: translate(-28.98px, -246.876px);
  }
  15% {
    transform: translate(-31.125px, -261.975px);
  }
  16% {
    transform: translate(-33.28px, -276.736px);
  }
  17% {
    transform: translate(-35.445px, -291.159px);
  }
  18% {
    transform: translate(-37.62px, -305.244px);
  }
  19% {
    transform: translate(-39.805px, -318.991px);
  }
  20% {
    transform: translate(-42px, -332.4px);
  }
  21% {
    transform: translate(-44.205px, -345.471px);
  }
  22% {
    transform: translate(-46.42px, -358.204px);
  }
  23% {
    transform: translate(-48.645px, -370.599px);
  }
  24% {
    transform: translate(-50.88px, -382.656px);
  }
  25% {
    transform: translate(-53.125px, -394.375px);
  }
  26% {
    transform: translate(-55.38px, -405.756px);
  }
  27% {
    transform: translate(-57.645px, -416.799px);
  }
  28% {
    transform: translate(-59.92px, -427.504px);
  }
  29% {
    transform: translate(-62.205px, -437.871px);
  }
  30% {
    transform: translate(-64.5px, -447.9px);
  }
  31% {
    transform: translate(-66.805px, -457.591px);
  }
  32% {
    transform: translate(-69.12px, -466.944px);
  }
  33% {
    transform: translate(-71.445px, -475.959px);
  }
  34% {
    transform: translate(-73.78px, -484.636px);
  }
  35% {
    transform: translate(-76.125px, -492.975px);
  }
  36% {
    transform: translate(-78.48px, -500.976px);
  }
  37% {
    transform: translate(-80.845px, -508.639px);
  }
  38% {
    transform: translate(-83.22px, -515.964px);
  }
  39% {
    transform: translate(-85.605px, -522.951px);
  }
  40% {
    transform: translate(-88px, -529.6px);
  }
  41% {
    transform: translate(-90.405px, -535.911px);
  }
  42% {
    transform: translate(-92.82px, -541.884px);
  }
  43% {
    transform: translate(-95.245px, -547.519px);
  }
  44% {
    transform: translate(-97.68px, -552.816px);
  }
  45% {
    transform: translate(-100.125px, -557.775px);
  }
  46% {
    transform: translate(-102.58px, -562.396px);
  }
  47% {
    transform: translate(-105.045px, -566.679px);
  }
  48% {
    transform: translate(-107.52px, -570.624px);
  }
  49% {
    transform: translate(-110.005px, -574.231px);
  }
  50% {
    transform: translate(-112.5px, -577.5px);
  }
  51% {
    transform: translate(-115.005px, -580.431px);
  }
  52% {
    transform: translate(-117.52px, -583.024px);
  }
  53% {
    transform: translate(-120.045px, -585.279px);
  }
  54% {
    transform: translate(-122.58px, -587.196px);
  }
  55% {
    transform: translate(-125.125px, -588.775px);
  }
  56% {
    transform: translate(-127.68px, -590.016px);
  }
  57% {
    transform: translate(-130.245px, -590.919px);
  }
  58% {
    transform: translate(-132.82px, -591.484px);
  }
  59% {
    transform: translate(-135.405px, -591.711px);
  }
  60% {
    transform: translate(-138px, -591.6px);
  }
  61% {
    transform: translate(-140.605px, -591.151px);
  }
  62% {
    transform: translate(-143.22px, -590.364px);
  }
  63% {
    transform: translate(-145.845px, -589.239px);
  }
  64% {
    transform: translate(-148.48px, -587.776px);
  }
  65% {
    transform: translate(-151.125px, -585.975px);
  }
  66% {
    transform: translate(-153.78px, -583.836px);
  }
  67% {
    transform: translate(-156.445px, -581.359px);
  }
  68% {
    transform: translate(-159.12px, -578.544px);
  }
  69% {
    transform: translate(-161.805px, -575.391px);
  }
  70% {
    transform: translate(-164.5px, -571.9px);
  }
  71% {
    transform: translate(-167.205px, -568.071px);
  }
  72% {
    transform: translate(-169.92px, -563.904px);
  }
  73% {
    transform: translate(-172.645px, -559.399px);
  }
  74% {
    transform: translate(-175.38px, -554.556px);
  }
  75% {
    transform: translate(-178.125px, -549.375px);
  }
  76% {
    transform: translate(-180.88px, -543.856px);
  }
  77% {
    transform: translate(-183.645px, -537.999px);
  }
  78% {
    transform: translate(-186.42px, -531.804px);
  }
  79% {
    transform: translate(-189.205px, -525.271px);
  }
  80% {
    transform: translate(-192px, -518.4px);
  }
  81% {
    transform: translate(-194.805px, -511.191px);
  }
  82% {
    transform: translate(-197.62px, -503.644px);
  }
  83% {
    transform: translate(-200.445px, -495.759px);
  }
  84% {
    transform: translate(-203.28px, -487.536px);
  }
  85% {
    transform: translate(-206.125px, -478.975px);
  }
  86% {
    transform: translate(-208.98px, -470.076px);
  }
  87% {
    transform: translate(-211.845px, -460.839px);
  }
  88% {
    transform: translate(-214.72px, -451.264px);
  }
  89% {
    transform: translate(-217.605px, -441.351px);
  }
  90% {
    transform: translate(-220.5px, -431.1px);
  }
  91% {
    transform: translate(-223.405px, -420.511px);
  }
  92% {
    transform: translate(-226.32px, -409.584px);
  }
  93% {
    transform: translate(-229.245px, -398.319px);
  }
  94% {
    transform: translate(-232.18px, -386.716px);
  }
  95% {
    transform: translate(-235.125px, -374.775px);
  }
  96% {
    transform: translate(-238.08px, -362.496px);
  }
  97% {
    transform: translate(-241.045px, -349.879px);
  }
  98% {
    transform: translate(-244.02px, -336.924px);
  }
  99% {
    transform: translate(-247.005px, -323.631px);
  }
  100% {
    transform: translate(-250px, -310px);
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 313, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Bwarapper {
  position: relative;
  width: 100%;
  height: 450px;
}
/* line 317, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Bwarapper .blcContainer {
  position: absolute;
  left: 0;
  right: 0;
  width: 1000px;
  height: 100%;
  margin: auto;
}
/* line 324, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Bwarapper .blcContainer h1 {
  font-size: 2em;
}
/* line 329, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Binfwarapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 0;
}
/* line 333, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Binfwarapper .btcblockInfContainer {
  width: 1000px;
  margin: 0 auto;
}
/* line 336, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Binfwarapper .btcblockInfContainer .blockInftable {
  width: 100%;
}
/* line 338, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Binfwarapper .btcblockInfContainer .blockInftable .btr {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
}
/* line 343, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Binfwarapper .btcblockInfContainer .blockInftable .btr div {
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #494949;
}
/* line 347, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Binfwarapper .btcblockInfContainer .blockInftable .btr div:nth-child(odd) {
  width: 30%;
  backgroud: red;
}
/* line 351, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Binfwarapper .btcblockInfContainer .blockInftable .btr div:nth-child(even) {
  width: 70%;
}
/* line 359, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper {
  margin: auto;
  width: 1000px;
  padding: 20px 0;
}
/* line 363, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper h2 {
  font-weight: bold;
  font-size: 1.4em;
}
/* line 367, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr {
  width: 100%;
  border-bottom: 1px solid #494949;
}
/* line 370, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txidContainer {
  display: flex;
  padding: 10px 0;
  margin: 0;
  width: 100%;
}
/* line 375, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txidContainer .txCon {
  display: flex;
  width: 100%;
}
/* line 378, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txidContainer .txCon div {
  height: 28px;
  margin-right: 10px;
}
/* line 381, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txidContainer .txCon div img {
  height: 100%;
}
/* line 385, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txidContainer .txCon a {
  line-height: 28px;
  width: calc(100% - 1em);
}
/* line 391, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer {
  font-size: 0.8em;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
/* line 397, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer .vout {
  width: 44%;
}
/* line 399, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer .vout .txtrs {
  display: flex;
  width: 100%;
}
/* line 402, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer .vout .txtrs .left {
  width: 70%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
/* line 408, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer .vout .txtrs .right {
  width: 30%;
  text-align: right;
}
/* line 413, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer .vout .adc {
  width: 100%;
  text-align: right;
}
/* line 418, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer .arrow {
  width: 12%;
  text-align: center;
}
/* line 422, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer .vin {
  width: 44%;
}
/* line 424, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer .vin .txtrs {
  display: flex;
  width: 100%;
}
/* line 427, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer .vin .txtrs .left {
  width: 70%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
/* line 433, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.blockp .Txwarapper .btr .txinfContainer .vin .txtrs .right {
  width: 30%;
  text-align: right;
}

/* line 444, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.cloudContainer2 {
  position: absolute;
  top: 180px;
  left: 0;
  z-index: 9999;
  width: 50%;
  margin-left: -10%;
  pointer-events: none;
  animation: FloatVertical 6.0s ease-in-out infinite alternate;
}
/* line 453, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.cloudContainer2 img {
  width: 100%;
}

/* line 457, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fix-inf1 {
  position: absolute;
  top: 100px;
  left: 0px;
  z-index: 10;
  width: 250px;
  padding: 10px;
  background-image: url("https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/wood1.jpg");
  animation: FloatVertical 6.0s ease-in-out infinite alternate;
  text-align: center;
}
/* line 467, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fix-inf1 div {
  border-radius: 20px;
  padding: 10px;
}
/* line 471, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fix-inf1 div p {
  font-size: 1em;
}

/* line 476, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.stick1 {
  position: absolute;
  top: 90px;
  left: 125px;
  z-index: 9;
  width: 20px;
  height: 250px;
  background-image: url("https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/wood2.jpg");
  animation: FloatVertical 6.0s ease-in-out infinite alternate;
}

/* line 486, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.Are {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  margin-left: 40%;
}
/* line 493, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.Are .base {
  margin: 0 40px;
}

/* line 498, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fa-btc {
  color: #ffa500;
}

/* line 501, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.txl {
  padding-bottom: 10px;
  border-bottom: 1px dashed #494949;
}

/* line 505, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.txtBold {
  font-weight: bold;
  font-size: 1.2em !important;
}

/* line 513, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
/* line 519, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 524, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.pagination a, .pagination i {
  display: inline-block;
  padding: 10px 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 534, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.pagination a.is-active {
  background-color: #2ecc71;
  border-radius: 100%;
  color: #fff !important;
}

/* line 542, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fixchr {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: 99999;
}
/* line 548, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fixchr .twitter_icon {
  color: #00aced;
  height: 100%;
  text-decoration: none;
  margin-right: 10px;
}
/* line 553, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fixchr .twitter_icon:hover {
  text-decoration: underline;
}
/* line 557, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fixchr .icon {
  height: 100%;
  text-decoration: none;
}
/* line 560, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fixchr .icon:hover {
  text-decoration: underline;
}
/* line 563, /Users/higuchitakumi/techlife/app/assets/stylesheets/btc_exproler.scss */
.fixchr .icon span {
  color: #494949;
  font-weight: normal;
}
